* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #1A192F;
    color: #1A192F;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100hv;
    padding: 2rem;
}

.generator{
    width: 100%;
    max-width: 640px;
    padding: 2rem 1rem;
    background-color: hsl(0, 0%, 90%);
    border-radius: 1rem;
}

h1{
    font-family: Cambria;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

h2{
    font-family: Cambria;
    font-size: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

input:not([type="checkbox"]),
button{
    appearance: none;
    outline: none;
    border: none;
    background: none;
}

input[type="checkbox"]{
    cursor: pointer;
}

.password-wrap{
    position:relative;
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
}

.password-wrap:after{
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    height: 3px;
    left: 0;
    right: 0;
    border-radius: 3px;
    background: linear-gradient(to right, #D23268 25%, #2622ED 75%);
}

.password-wrap input{
    flex: 1 1 0%;
    padding: 0.5rem;
    color: #282847;
}

.password-wrap input::placeholder{
    color: #888;
    font-style: italic;
}

.password-wrap button{
    cursor: pointer;
    background: linear-gradient(to bottom, #D23268 0%, #2622ED 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

label{
    display: flex;
    user-select: none;
    margin-bottom: 1rem;
}

label span{
    display: block;
    flex: 1 1 0%;
    white-space: nowrap;
}

label input[type="number"]{
    text-align: right;
}

button[type="submit"]{
    cursor: pointer;
    padding: 0.5rem 1rem;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 0.25rem;
    background: linear-gradient(to right, #D23268 25%, #2622ED 50%);
    background-size: 200%;
    background-position: 2%;
    transition: 0.3s ease-out;
}

button[type="submit"]:hover{
    background-position: 75%;
}